<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0031D570-BDBC-469E-9275-A4C9AE929557</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflex</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Adieresis</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aring</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Atilde</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccedilla</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eacute</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecircumflex</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Edieresis</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Egrave</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iacute</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Icircumflex</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Idieresis</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Igrave</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ntilde</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oacute</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflex</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Odieresis</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ograve</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Otilde</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scaron</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uacute</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ucircumflex</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Udieresis</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ugrave</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yacute</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ydieresis</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zcaron</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
