<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>924C639C-C1FA-4603-A363-AAAB469624B4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
