<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>27BF9811-F578-4683-A4E5-FDE9085DF5FD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.schwa</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
