<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1F030F7E-6B49-4552-A1A8-F05B839818A8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zcaron</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
