<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>889E17A2-74C8-4A3C-9169-1B4449D836F0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eacute</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflex</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.edieresis</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.egrave</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
