<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BCD4CA7D-E198-4F59-9249-C7DD58DA3F62</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ntilde</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
