<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8A3634E0-5BED-472C-9AD9-E1220C4555F8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ucircumflex</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.udieresis</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
