<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 02:26</string>
      <string>glyphs.B_old A_ug 27 16, 02_26</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 16:49</string>
      <string>glyphs.B_old A_ug 27 16, 16_49</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 16:50</string>
      <string>glyphs.B_old A_ug 27 16, 16_50</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 02:21</string>
      <string>glyphs.B_old A_ug 27 16, 02_21</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 15:38</string>
      <string>glyphs.B_old A_ug 27 16, 15_38</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 16:58</string>
      <string>glyphs.B_old A_ug 27 16, 16_58</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 18:52</string>
      <string>glyphs.B_old A_ug 27 16, 18_52</string>
    </array>
    <array>
      <string>Bold Aug 24 16, 23:48</string>
      <string>glyphs.B_old A_ug 24 16, 23_48</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 17:08</string>
      <string>glyphs.B_old A_ug 27 16, 17_08</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 17:09</string>
      <string>glyphs.B_old A_ug 27 16, 17_09</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 16:25</string>
      <string>glyphs.B_old A_ug 27 16, 16_25</string>
    </array>
    <array>
      <string>Bold Aug 25 16, 00:04</string>
      <string>glyphs.B_old A_ug 25 16, 00_04</string>
    </array>
    <array>
      <string>Bold Aug 26 16, 19:46</string>
      <string>glyphs.B_old A_ug 26 16, 19_46</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 17:12</string>
      <string>glyphs.B_old A_ug 27 16, 17_12</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 17:16</string>
      <string>glyphs.B_old A_ug 27 16, 17_16</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 17:17</string>
      <string>glyphs.B_old A_ug 27 16, 17_17</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 17:19</string>
      <string>glyphs.B_old A_ug 27 16, 17_19</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 17:22</string>
      <string>glyphs.B_old A_ug 27 16, 17_22</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 17:31</string>
      <string>glyphs.B_old A_ug 27 16, 17_31</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 17:49</string>
      <string>glyphs.B_old A_ug 27 16, 17_49</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 17:51</string>
      <string>glyphs.B_old A_ug 27 16, 17_51</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 17:54</string>
      <string>glyphs.B_old A_ug 27 16, 17_54</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 17:46</string>
      <string>glyphs.B_old A_ug 27 16, 17_46</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 17:56</string>
      <string>glyphs.B_old A_ug 27 16, 17_56</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 17:52</string>
      <string>glyphs.B_old A_ug 27 16, 17_52</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 17:02</string>
      <string>glyphs.B_old A_ug 27 16, 17_02</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 17:57</string>
      <string>glyphs.B_old A_ug 27 16, 17_57</string>
    </array>
    <array>
      <string>Bold Aug 26 16, 19:39</string>
      <string>glyphs.B_old A_ug 26 16, 19_39</string>
    </array>
    <array>
      <string>Bold Aug 24 16, 23:55</string>
      <string>glyphs.B_old A_ug 24 16, 23_55</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 18:10</string>
      <string>glyphs.B_old A_ug 27 16, 18_10</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 02:14</string>
      <string>glyphs.B_old A_ug 27 16, 02_14</string>
    </array>
    <array>
      <string>Bold Aug 28 16, 05:32</string>
      <string>glyphs.B_old A_ug 28 16, 05_32</string>
    </array>
    <array>
      <string>Bold Aug 25 16, 18:01</string>
      <string>glyphs.B_old A_ug 25 16, 18_01</string>
    </array>
    <array>
      <string>Bold Aug 25 16, 18:40</string>
      <string>glyphs.B_old A_ug 25 16, 18_40</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 18:15</string>
      <string>glyphs.B_old A_ug 27 16, 18_15</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 18:20</string>
      <string>glyphs.B_old A_ug 27 16, 18_20</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 18:25</string>
      <string>glyphs.B_old A_ug 27 16, 18_25</string>
    </array>
    <array>
      <string>Bold Aug 26 16, 13:26</string>
      <string>glyphs.B_old A_ug 26 16, 13_26</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 18:27</string>
      <string>glyphs.B_old A_ug 27 16, 18_27</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 18:26</string>
      <string>glyphs.B_old A_ug 27 16, 18_26</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 18:31</string>
      <string>glyphs.B_old A_ug 27 16, 18_31</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 18:33</string>
      <string>glyphs.B_old A_ug 27 16, 18_33</string>
    </array>
    <array>
      <string>Bold Aug 25 16, 18:55</string>
      <string>glyphs.B_old A_ug 25 16, 18_55</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 01:03</string>
      <string>glyphs.B_old A_ug 27 16, 01_03</string>
    </array>
    <array>
      <string>Bold Aug 27 16, 01:03.background</string>
      <string>glyphs.B_old A_ug 27 16, 01_03.background</string>
    </array>
    <array>
      <string>background</string>
      <string>glyphs.background</string>
    </array>
  </array>
</plist>
