<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>e_e</key>
    <string>e_e.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>l_l</key>
    <string>l_l.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>t_h</key>
    <string>t_h.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
