<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>604BDEB1-012F-4FD0-B72B-DD9EF1FEE96E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflex</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ograve</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Otilde</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
