<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
  </dict>
</plist>
