<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A64689E6-7343-44BD-9DE2-62E8CEB487EA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.oacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ocircumflex</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.odieresis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ograve</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.otilde</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
