<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AC1C3B1C-E3D6-4368-A1E5-1A11B6DBC5C1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.schwa</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
