<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>444F62BC-9514-4C2C-BF06-31091CEE5451</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.iacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.icircumflex</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.idieresis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.igrave</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
