<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 02:25</string>
      <string>glyphs.R_egular A_ug 27 16, 02_25</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 02:25.background</string>
      <string>glyphs.R_egular A_ug 27 16, 02_25.background</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 15:00</string>
      <string>glyphs.R_egular A_ug 27 16, 15_00</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 15:00.background</string>
      <string>glyphs.R_egular A_ug 27 16, 15_00.background</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 02:18</string>
      <string>glyphs.R_egular A_ug 27 16, 02_18</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 02:18.background</string>
      <string>glyphs.R_egular A_ug 27 16, 02_18.background</string>
    </array>
    <array>
      <string>Regular Aug 24 16, 23:49</string>
      <string>glyphs.R_egular A_ug 24 16, 23_49</string>
    </array>
    <array>
      <string>Regular Aug 25 16, 19:28 Aug 25 16, 19:29</string>
      <string>glyphs.R_egular A_ug 25 16, 19_28 A_ug 25 16, 19_29</string>
    </array>
    <array>
      <string>Regular Aug 25 16, 23:01</string>
      <string>glyphs.R_egular A_ug 25 16, 23_01</string>
    </array>
    <array>
      <string>Regular Aug 26 16, 13:38</string>
      <string>glyphs.R_egular A_ug 26 16, 13_38</string>
    </array>
    <array>
      <string>Regular Aug 26 16, 18:02</string>
      <string>glyphs.R_egular A_ug 26 16, 18_02</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 16:55</string>
      <string>glyphs.R_egular A_ug 27 16, 16_55</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 16:55.background</string>
      <string>glyphs.R_egular A_ug 27 16, 16_55.background</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 16:56</string>
      <string>glyphs.R_egular A_ug 27 16, 16_56</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 16:56.background</string>
      <string>glyphs.R_egular A_ug 27 16, 16_56.background</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 17:02</string>
      <string>glyphs.R_egular A_ug 27 16, 17_02</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 17:02.background</string>
      <string>glyphs.R_egular A_ug 27 16, 17_02.background</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 17:57</string>
      <string>glyphs.R_egular A_ug 27 16, 17_57</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 17:57.background</string>
      <string>glyphs.R_egular A_ug 27 16, 17_57.background</string>
    </array>
    <array>
      <string>Regular Aug 26 16, 18:41</string>
      <string>glyphs.R_egular A_ug 26 16, 18_41</string>
    </array>
    <array>
      <string>Regular Aug 26 16, 19:15</string>
      <string>glyphs.R_egular A_ug 26 16, 19_15</string>
    </array>
    <array>
      <string>Regular Aug 26 16, 19:19</string>
      <string>glyphs.R_egular A_ug 26 16, 19_19</string>
    </array>
    <array>
      <string>Regular Aug 24 16, 23:59</string>
      <string>glyphs.R_egular A_ug 24 16, 23_59</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 18:09</string>
      <string>glyphs.R_egular A_ug 27 16, 18_09</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 18:09.background</string>
      <string>glyphs.R_egular A_ug 27 16, 18_09.background</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 02:13</string>
      <string>glyphs.R_egular A_ug 27 16, 02_13</string>
    </array>
    <array>
      <string>Regular Aug 26 16, 20:01</string>
      <string>glyphs.R_egular A_ug 26 16, 20_01</string>
    </array>
    <array>
      <string>Regular Aug 25 16, 18:22</string>
      <string>glyphs.R_egular A_ug 25 16, 18_22</string>
    </array>
    <array>
      <string>Regular Aug 25 16, 18:26</string>
      <string>glyphs.R_egular A_ug 25 16, 18_26</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 18:14</string>
      <string>glyphs.R_egular A_ug 27 16, 18_14</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 18:14.background</string>
      <string>glyphs.R_egular A_ug 27 16, 18_14.background</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 18:17</string>
      <string>glyphs.R_egular A_ug 27 16, 18_17</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 18:17.background</string>
      <string>glyphs.R_egular A_ug 27 16, 18_17.background</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 19:35</string>
      <string>glyphs.R_egular A_ug 27 16, 19_35</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 19:35.background</string>
      <string>glyphs.R_egular A_ug 27 16, 19_35.background</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 18:25</string>
      <string>glyphs.R_egular A_ug 27 16, 18_25</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 18:25.background</string>
      <string>glyphs.R_egular A_ug 27 16, 18_25.background</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 18:26</string>
      <string>glyphs.R_egular A_ug 27 16, 18_26</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 18:26.background</string>
      <string>glyphs.R_egular A_ug 27 16, 18_26.background</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 18:31</string>
      <string>glyphs.R_egular A_ug 27 16, 18_31</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 18:31.background</string>
      <string>glyphs.R_egular A_ug 27 16, 18_31.background</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 18:33</string>
      <string>glyphs.R_egular A_ug 27 16, 18_33</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 18:33.background</string>
      <string>glyphs.R_egular A_ug 27 16, 18_33.background</string>
    </array>
    <array>
      <string>Regular Aug 25 16, 18:47</string>
      <string>glyphs.R_egular A_ug 25 16, 18_47</string>
    </array>
    <array>
      <string>Regular Aug 26 16, 20:12</string>
      <string>glyphs.R_egular A_ug 26 16, 20_12</string>
    </array>
    <array>
      <string>Regular Aug 26 16, 20:12.background</string>
      <string>glyphs.R_egular A_ug 26 16, 20_12.background</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 01:12</string>
      <string>glyphs.R_egular A_ug 27 16, 01_12</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 01:01</string>
      <string>glyphs.R_egular A_ug 27 16, 01_01</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 01:01.background</string>
      <string>glyphs.R_egular A_ug 27 16, 01_01.background</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 16:04</string>
      <string>glyphs.R_egular A_ug 27 16, 16_04</string>
    </array>
    <array>
      <string>Regular Aug 27 16, 15:47</string>
      <string>glyphs.R_egular A_ug 27 16, 15_47</string>
    </array>
  </array>
</plist>
