<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8084A3DD-59FE-4606-AB8E-FD2D7D40105F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.yacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ydieresis</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
